# Google Sheets / Apps Script Webhook Endpoint
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbySAoLruOTVmPf2jAKgzdavaDhj7igaALEm9urptK9AdrWRKw8gf2NpIgzBae1MEfKK/exec

# Supabase Realtime Backend (Optional / Cloud Sync)
VITE_SUPABASE_URL=https://juiqgwqqxpjjsnxcvbbo.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
